REPLICATE_AUTH=''
TELEGRAM_BOT_TOKEN=''
TELEGRAM_BASE_API_URL='https://api.telegram.org'
YANDEX_TRANSLATE_FOLDER_ID=''
YANDEX_TRANSLATE_API_KEY=''
ALLOWED_CHAT_IDS=1,2,3
REDIS_URL='redis://localhost:6379'
REDIS_KEY_PREFIX='bot:'
